body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #ececec, #f5f5f5); /* Fondo en tonos de plata */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

header {
    background-color: #2c3e50; /* Azul marino oscuro para elegancia */
    color: white;
    padding: 2em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.animated-text {
    animation: slideInOut 2s infinite;
    font-size: 2em;
    margin: 0;
}

@keyframes slideInOut {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(10px); }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los botones se ajusten en pantallas pequeñas */
    justify-content: center; /* Centra los botones */
    margin-top: 20px;
}

.styled-button {
    background-color: #bdc3c7; /* Color plata */
    border: none;
    color: #2c3e50; /* Texto en azul marino oscuro */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-button:hover {
    background-color: #95a5a6; /* Color plata más oscuro */
    transform: scale(1.1);
}

.styled-button:active {
    background-color: #7f8c8d; /* Color plata aún más oscuro */
    transform: scale(0.95);
}

.styled-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.styled-table th {
    background-color: #2c3e50; /* Azul marino oscuro */
    color: white;
}

footer {
    background-color: #2c3e50; /* Azul marino oscuro */
    color: white;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto; /* Mantiene el footer en la parte inferior */
}